body {
  background-color: hsl(207, 26%, 17%);
  color: white;
  letter-spacing: 1px;
}
.Header {
  display: flex;
  border: solid hsl(209, 23%, 22%) 1px;
  background-color: hsl(209, 23%, 22%);
  color: white;
}
h1 {
  padding-left: 10%;
  font-family: Arial;
  font-size: 20px;
  width: 100%;
}
input[type="text"] {
  border: none;
  color: white;
  background-color: hsl(209, 23%, 22%);
  padding: 18px;
  background-color: hsl(209, 23%, 22%);
  border: none;
  border-radius: 10px;
  width: 80%;
  margin-left: 7%;
  margin-top: 5%;
  display: flex;
}

.filter-button {
  background-color: hsl(209, 23%, 22%);
  border-radius: 10px;
  border: none;
  width: 50%;
  min-width: 40px;
  max-height: 45px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5%;
  margin-left: 7%;
}
.Flags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flag {
  background-color: hsl(209, 23%, 22%);
  width: 70%;
  margin: 5px;
  padding: 5px;
  text-align: left;
  /* height: 40vmin; */
}
.flagImg {
  background-color: hsl(209, 23%, 22%);
  width: 100%;
  height: 40vmin;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 992px) {
.App {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}
.filter {
  margin: 0px;
  flex: 1;
   height: 100%;
}
.filter-button {
  width: 100%;
}
.input {
  flex: 1;
}
input[type="text"] {
  padding: 19px;
  height: 10px;
}
.flag {
  width: 100%;
}
h1 {
  font-size: 250%;
}
}
::-webkit-input-placeholder { /* Edge */
  color: white;
}
:-ms-input-placeholder { /* Internet Explorer */
  color: white;
}
::placeholder {
  color: white;
  text-align: center;
}